/* index.css  ─ добавьте в самый низ */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.rf-draft-cursor .react-flow__pane { cursor: copy !important; }




/* Курсор copy при Ctrl на всём полотне */
.rf-copy-cursor,
.rf-copy-cursor .react-flow__pane {
  cursor: copy !important;
}