/* src/companet/card.css */
.card {
     position: relative;
  min-width: 140px;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: var(--card-bg, #dcddd2); /* дефолтный цвет */
  font-size: 14px;
  cursor: grab;
   display: flex;
  flex-direction: column;
  justify-content: center;   /* вертикально центр */
}


.react-flow__handle {
  transform: translateY(-50%);
  top: 50%;
}

.card input.title {
  width: 100%;
  border: none;
  background: transparent;
  font-weight: 600;
  margin-bottom: 4px;
}

.card input[type='color'] {
  width: 100%;
  height: 24px;
  border: none;
  padding: 0;
  margin-top: 4px;
}



.card .close {
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}
