/* маленький огонь в ЛЕВОМ НИЖНЕМ углу */
.flame-wrap{
  position:absolute;
  left:-30px;          /* было right:-6px; top:-6px */
  bottom:-8px;
  top: 20px;
  width:20px;         /* было 26px */
  height:20px;
  pointer-events:none;
  z-index:2;
}

/* уменьшаем весь «костёр» сильнее */
.flame-container{
  position:relative;
  width:60px;
  height:60px;
  transform-origin:center bottom;
  animation:flicker 3ms 200ms ease-in infinite alternate;
  transform: scale(0.32);   /* было 0.45 */
}

/* общие части */
.flame{
  position:absolute; bottom:0;
  border-bottom-right-radius:50%;
  border-bottom-left-radius:50%;
  border-top-left-radius:50%;
  transform:rotate(-45deg) scale(1.5);
}
.flame-circle{ border-radius:50%; position:absolute; }

/* слои пламени */
.flame-yellow{ left:15px; width:30px; height:30px; background:gold;      box-shadow:0 0 9px 4px gold; }
.flame-orange{ left:10px; width:40px; height:40px; background:orange;    box-shadow:0 0 9px 4px orange; }
.flame-red   { left:5px;  width:50px; height:50px; background:orangered; box-shadow:0 0 5px 4px orangered; }
.flame-white { left:15px; bottom:-4px; width:30px; height:30px; background:white; box-shadow:0 0 9px 4px white; }



/* подправим анимацию с новым масштабом */
@keyframes flicker{
  0%   { transform: rotate(-1deg) scale(0.32); }
  20%  { transform: rotate(1deg)  scale(0.32); }
  40%  { transform: rotate(-1deg) scale(0.32); }
  60%  { transform: rotate(1deg)  scale(0.335); }
  80%  { transform: rotate(-2deg) scale(0.30); }
  100% { transform: rotate(1deg)  scale(0.32); }
}
